<div nz-row class="main">
    <div nz-col nzSpan="15" class="img">
        <img src="../assets/image/book-your-date.jpg" alt="">
    </div>
    <div nz-col nzSpan="9" class="main-section">
        <div class="login-container">
            <div class="login-content">
                <div class="login-content_header">
                    <ul class="login-icons">
                        <li>
                            <i class="fa-solid fa-key"></i>
                        </li>
                    </ul>
                    <h2>Set new password</h2>
                    <p>Must be at least 6 characters</p>
                </div>
                <div class="form-container">
                    <form nz-form [formGroup]="validateForm" (ngSubmit)="onSubmit()" class="login-form">


                        <nz-form-item>
                            <nz-form-control [nzErrorTip]="passwordErrorMessage" class="error-message">
                                <nz-input-group [nzSuffix]="suffixTemplate1">
                                    <input nz-input [type]="passwordVisible ? 'text' : 'password'"
                                        formControlName="password" placeholder="Password">
                                </nz-input-group>
                                <ng-template #suffixTemplate1>
                                    <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                        (click)="passwordVisible = !passwordVisible"></span>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-control [nzErrorTip]="confirmPasswordErrorMessage" class="error-message">
                                <nz-input-group [nzSuffix]="suffixTemplate2">
                                    <input nz-input [type]="confirmPasswordVisible ? 'text' : 'password'"
                                        formControlName="confirmPassword" placeholder="Confirm Password">
                                </nz-input-group>
                                <ng-template #suffixTemplate2>
                                    <span nz-icon [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
                                        (click)="confirmPasswordVisible = !confirmPasswordVisible"></span>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>

                        <button nz-button class="submit" [nzType]="'primary'">Contiune</button>
                    </form>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>