<div nz-row class="main">
    <div nz-col nzSpan="15" class="img">
        <img src="../assets/image/book-your-date.jpg" alt="">
    </div>
    <div nz-col nzSpan="9" class="main-section">
        <div class="login-container">
            <div class="login-content">
                <div class="login-content_header">
                    <ul class="login-icons">
                        <li>
                            <i class="fa-solid fa-user-lock"></i>
                        </li>
                    </ul>
                    <h2>Forgot Password?</h2>
                    <p>Please enter your email id to get OTP.</p>
                </div>
                <div class="form-container">
                    <form nz-form [formGroup]="validateForm" (ngSubmit)="onSubmit()" class="login-form">
                        <nz-form-item>
                            <nz-form-control [nzErrorTip]="emailErrorMessage" class="error-message">
                                <nz-input-group>
                                    <input nz-input type="email" formControlName="email" placeholder="Email">
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                        <button nz-button type="submit" class="submit" [nzType]="'primary'">Send 6-digit code</button>
                    </form>
                </div>
                <p>
                    Don't have an account? <a routerLink="/register">Register</a>
                </p>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
